{%extends "basedialog.html"%}
{%block title %}Predict Flight Delays with Apache Spark MLlib, FlightStats, IBM Insights for Weather, and Watson Conversation Service{%endblock%}

{%block body%}
  <style>
    {%include module + ":css/app.css" with context%}
  </style>
  <div id="contentParent" class="responsive-columns-wrapper">
    <div id="chat-column-holder" class="responsive-column content-column">
      <div class="chat-column">
        <div id="scrollingChat"></div>
        <label for="textInput" class="inputOutline">
          <input id="textInput" class="input responsive-column"
            placeholder="Type something" type="text"
            onkeydown="window.ConversationPanel.inputKeyDown(event, this)">
        </label>
      </div>
    </div>
    <div id="details_pane" class="responsive-column content-column">
      <div id="details-column-holder" class="responsive-column content-column"></div>
    </div>
  </div>
{%endblock%}

{%block onDialogShown%}
  {%include module + ":js/api.js" with context%}
  {%include module + ":js/common.js" with context%}
  {%include module + ":js/conversation.js" with context%}
  {%include module + ":js/global.js" with context%}
  {%include module + ":js/payload.js" with context%}
{%endblock%}
