<div class="predict-models">
{%for model in models%}
    <div class="predict-models-parent">
        <span class="predict-model-label"> {{model['model']}} </span>
        <span class="{{'ontime' if model['prediction'] == 'On Time' else 'delayed'}}">{{model['prediction']}}</span>
    </div>
{%endfor%}
</div>
<div id="flightpredict-map" class="map-parent" 
    depLatitude="{{prediction["departureAirportInfo"]["airportInfo"]["latitude"]}}"
    depLongitude="{{prediction["departureAirportInfo"]["airportInfo"]["longitude"]}}"
    arrLatitude="{{prediction["arrivalAirportInfo"]["airportInfo"]["latitude"]}}"
    arrLongitude="{{prediction["arrivalAirportInfo"]["airportInfo"]["longitude"]}}"
    predictionOverall="{{prediction["overall"]}}"
>
</div>
